In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/spotifyclassification/data.csv

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
dataset = pd.read_csv('/kaggle/input/spotifyclassification/data.csv')

In [4]:
dataset.drop("Unnamed: 0",axis=1,inplace=True)

In [5]:
dataset.head()

,acousticness,danceability,duration_ms,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence,target,song_title,artist
0,0.0102,0.833,204600,0.434,0.021900,2,0.1650,-8.795,1,0.4310,150.062,4.0,0.286,1,Mask Off,Future
1,0.1990,0.743,326933,0.359,0.006110,1,0.1370,-10.401,1,0.0794,160.083,4.0,0.588,1,Redbone,Childish Gambino
2,0.0344,0.838,185707,0.412,0.000234,2,0.1590,-7.148,1,0.2890,75.044,4.0,0.173,1,Xanny Family,Future
3,0.6040,0.494,199413,0.338,0.510000,5,0.0922,-15.236,1,0.0261,86.468,4.0,0.230,1,Master Of None,Beach House
4,0.1800,0.678,392893,0.561,0.512000,5,0.4390,-11.648,0,0.0694,174.004,4.0,0.904,1,Parallel Lines,Junior Boys

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2017 entries, 0 to 2016
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   acousticness      2017 non-null   float64
 1   danceability      2017 non-null   float64
 2   duration_ms       2017 non-null   int64
 3   energy            2017 non-null   float64
 4   instrumentalness  2017 non-null   float64
 5   key               2017 non-null   int64
 6   liveness          2017 non-null   float64
 7   loudness          2017 non-null   float64
 8   mode              2017 non-null   int64
 9   speechiness       2017 non-null   float64
 10  tempo             2017 non-null   float64
 11  time_signature    2017 non-null   float64
 12  valence           2017 non-null   float64
 13  target            2017 non-null   int64
 14  song_title        2017 non-null   object
 15  artist            2017 non-null   object
dtypes: float64(10), int64(4), object(2)
memory usage: 252.2+ KB

In [7]:
dataset.isna().sum()

acousticness        0
danceability        0
duration_ms         0
energy              0
instrumentalness    0
key                 0
liveness            0
loudness            0
mode                0
speechiness         0
tempo               0
time_signature      0
valence             0
target              0
song_title          0
artist              0
dtype: int64

In [8]:
dataset.describe()

,acousticness,danceability,duration_ms,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence,target
count,2017.000000,2017.000000,2.017000e+03,2017.000000,2017.000000,2017.000000,2017.000000,2017.000000,2017.000000,2017.000000,2017.000000,2017.000000,2017.000000,2017.000000
mean,0.187590,0.618422,2.463062e+05,0.681577,0.133286,5.342588,0.190844,-7.085624,0.612295,0.092664,121.603272,3.968270,0.496815,0.505702
std,0.259989,0.161029,8.198181e+04,0.210273,0.273162,3.648240,0.155453,3.761684,0.487347,0.089931,26.685604,0.255853,0.247195,0.500091
min,0.000003,0.122000,1.604200e+04,0.014800,0.000000,0.000000,0.018800,-33.097000,0.000000,0.023100,47.859000,1.000000,0.034800,0.000000
25%,0.009630,0.514000,2.000150e+05,0.563000,0.000000,2.000000,0.092300,-8.394000,0.000000,0.037500,100.189000,4.000000,0.295000,0.000000
50%,0.063300,0.631000,2.292610e+05,0.715000,0.000076,6.000000,0.127000,-6.248000,1.000000,0.054900,121.427000,4.000000,0.492000,1.000000
75%,0.265000,0.738000,2.703330e+05,0.846000,0.054000,9.000000,0.247000,-4.746000,1.000000,0.108000,137.849000,4.000000,0.691000,1.000000
max,0.995000,0.984000,1.004627e+06,0.998000,0.976000,11.000000,0.969000,-0.307000,1.000000,0.816000,219.331000,5.000000,0.992000,1.000000

In [9]:
dataset.groupby("artist")["song_title"].count().sort_values(ascending=False)

artist
Drake              16
Rick Ross          13
Disclosure         12
Backstreet Boys    10
WALK THE MOON      10
                   ..
Hoodfellas          1
Hot Chocolate       1
Hotel Eden          1
How Sad             1
플랫핏 Flat Feet       1
Name: song_title, Length: 1343, dtype: int64

In [10]:
top_five_artist=dataset.groupby("artist").count().sort_values(by="song_title",ascending=False)["song_title"].head(5)
top_five_artist

artist
Drake              16
Rick Ross          13
Disclosure         12
Backstreet Boys    10
WALK THE MOON      10
Name: song_title, dtype: int64

In [11]:
#top 5 loudest tracks
top_five_loudest=dataset[["loudness","song_title"]].sort_values(by="loudness",ascending=True)[:5]
top_five_loudest

      loudness                                         song_title
1594   -33.097            Lyric Pieces, Book I Op. 12: I. Arietta
1596   -31.367            8 Fantasiestücke, Op.12 : 1. Des Abends
1598   -31.082  Piano Quartet in E flat, Op.47: 3. Andante can...
1531   -30.447          I Was So Young, and You Were So Beautiful
1549   -29.460                                            Eleanor

In [12]:
#artist with the most dancebility song
top_five_artist_dancebility=dataset[["danceability","song_title","artist"]].sort_values(by="danceability",ascending=False)[:5]
top_five_artist_dancebility

      danceability              song_title             artist
1433         0.984  Flashwind - Radio Edit       Ben Remember
1901         0.967                SexyBack  Justin Timberlake
604          0.962       Check Me Out Like          Blaqstarr
32           0.959             Best Friend         Young Thug
1957         0.959            Ice Ice Baby        Vanilla Ice

In [13]:
dataset.columns

Index(['acousticness', 'danceability', 'duration_ms', 'energy',
       'instrumentalness', 'key', 'liveness', 'loudness', 'mode',
       'speechiness', 'tempo', 'time_signature', 'valence', 'target',
       'song_title', 'artist'],
      dtype='object')

In [14]:
#top 10 instrumentalness tracks
top_instrumental=dataset[["instrumentalness","song_title","artist"]].sort_values(ascending=False,by="instrumentalness")[:5]
top_instrumental

,instrumentalness,song_title,artist
1313,0.976,Senseless Order,Signs of the Swarm
271,0.968,So Destroyed (channeling Rage Peace),Prince Rama
1575,0.964,A Hundred Dreams from Now,Ray Bryant
1619,0.958,Raven,John Dahlbäck
725,0.957,Strandbar (disko),Todd Terje

In [15]:
#top 10 energetic songs
top_ten_energetic=dataset[["energy","song_title","artist"]].sort_values(ascending=False,by="energy")[:10]
top_ten_energetic

      energy           song_title                    artist
1299   0.998        No Absolution         Thy Art Is Murder
1322   0.997           Pitchblack  Walking Dead On Broadway
1297   0.994    A Darkened Gospel      A Wake in Providence
1347   0.993           Unanswered           Suicide Silence
2015   0.992        First Contact                Twin Moons
1680   0.992             Paranoia         A Day To Remember
1332   0.992      Beautiful Agony          Within The Ruins
1328   0.991  Down into the Abyss               Conjonctive
1681   0.990                Hated                 Beartooth
1296   0.990         Black Colors       Victim Of Deception

In [16]:
song=dataset["song_title"].value_counts()
song

River                 3
Jack                  3
Mask Off              2
Be My Baby            2
Oblivion              2
                     ..
L'Amour Parfait       1
I Follow Rivers       1
From Nowhere          1
I Need You            1
I Wanna Get Better    1
Name: song_title, Length: 1956, dtype: int64

In [17]:
#most trending genre
most_trending=dataset["song_title"].value_counts(ascending=False)[:10]
most_trending=pd.DataFrame(most_trending).reset_index()
most_trending=most_trending.rename(columns={"index":"Songs","song_title":"Count"})
most_trending

                                       Songs  Count
0                                      River      3
1                                       Jack      3
2                                   Mask Off      2
3                                 Be My Baby      2
4                                   Oblivion      2
5                                    Obedear      2
6  Swimming Pools (Drank) - Extended Version      2
7                                   Pyramids      2
8                             1-800-273-8255      2
9                              Midnight City      2

In [18]:
#most common duration
duration=dataset["duration_ms"].value_counts()[:10]
duration

192000    5
243493    3
206013    3
228467    3
240000    3
189333    2
252053    2
243800    2
199973    2
254360    2
Name: duration_ms, dtype: int64

In [19]:
duration=pd.DataFrame(duration).reset_index()
duration=duration.rename(columns={"index":"Time_ms","duration_ms":"Count"})
duration

   Time_ms  Count
0   192000      5
1   243493      3
2   206013      3
3   228467      3
4   240000      3
5   189333      2
6   252053      2
7   243800      2
8   199973      2
9   254360      2

In [20]:
#most popular artist
popular_artist=dataset["artist"].value_counts()[:11]
popular_artist=pd.DataFrame(popular_artist).reset_index()
popular_artist=popular_artist.rename(columns={"index":"Artists","artist":"Count"})
popular_artist

            Artists  Count
0             Drake     16
1         Rick Ross     13
2        Disclosure     12
3     WALK THE MOON     10
4   Backstreet Boys     10
5   Crystal Castles      9
6            FIDLAR      9
7            Future      8
8      Fall Out Boy      8
9          Skrillex      8
10    Big Time Rush      8

In [21]:
popular_artist=popular_artist.drop(9,axis=0)
popular_artist

            Artists  Count
0             Drake     16
1         Rick Ross     13
2        Disclosure     12
3     WALK THE MOON     10
4   Backstreet Boys     10
5   Crystal Castles      9
6            FIDLAR      9
7            Future      8
8      Fall Out Boy      8
10    Big Time Rush      8

In [22]:
#top 10 tracks with most valence
top_10=dataset[["song_title","valence"]].sort_values(ascending=False,by="valence")[:10]
top_10

                                             song_title  valence
460                              Abataka - Original Mix    0.992
912                 I'm Walkin' - 2002 Digital Remaster    0.975
1966        To Roz Bikini (Itsy, Bitsy, Teenie, Weenie)    0.974
207                                         Look at You    0.973
48                                Azon de ma gnin kpevi    0.973
337   Let's Lovedance Tonight - Danny Krivit Re-edit...    0.972
1590                                   Jelly On A Plate    0.972
838   Let's Lovedance Tonight - Danny Krivit Re-edit...    0.971
497                                Mi Swing es Tropical    0.968
112                                  Please Mr. Postman    0.967